SERVER_PORT={value}
NODE_ENV={value}
FIREBASE_SERVICE_ACCOUNT={value}
POSTGRES_DB={value}
POSTGRES_USER={value}
POSTGRES_PASSWORD={value}
DATABASE_URL=postgresql://{user}:{pass}@{host}:{port}/{db_name}
GF_SECURITY_ADMIN_USER={value}
GF_SECURITY_ADMIN_PASSWORD={value}
PROMETHEUS_USER={value}
PROMETHEUS_PASSWORD={value}
