# Dependências
node_modules/
npm-debug.log*

# Ambiente
.env
.env.local
.env.*.local
.env.production
.env.development
.env.staging
.env.template

# Git
.git/
.github
.gitignore
.gitattributes

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Testes
coverage/
.nyc_output/
tests/
*.test.js
*.spec.js
**/*.spec.ts

# Build temporário
dist/
build/
.tmp/

# Docker
docker/
Dockerfile
docker-compose.yaml
.dockerignore

# CI/CD
.github/
.gitlab-ci.yml

# Documentação
README.md
docs/

# Angular específico
.angular/

# Arquivos de configuração (não necessários no container)
.editorconfig
.prettierrc
proxy.conf.js
.cosign
k8s/
certs/
